# For more info on the api, refer to:
#  SwaggerEditor: https://editor.swagger.io/
#  OpenAPI: https://docs.docker.com/engine/api/v1.40.yaml
# All durations are in nanotime
Name: arranger-server
TaskTemplate:
  ContainerSpec:
    Image: "overture/arranger-server:2.9.0"
    Env:
      - PORT=$dmsConfig.arranger.api.hostPort
#if( $dmsConfig.clusterRunMode == 'LOCAL')
      - ES_HOST=http://localhost:$dmsConfig.elasticsearch.hostPort
#else
      - ES_HOST=http://${composeServiceResources.ELASTICSEARCH.toString()}:$dmsConfig.elasticsearch.hostPort
#end

#if( $dmsConfig.elasticsearch.security.enabled )
      - ES_USER=elastic
      - ES_PASS=$dmsConfig.elasticsearch.security.rootPassword
#end
    Mounts: null
    Duration: null
    StopGracePeriod: 120000000000
    DNSConfig: null
    OpenStdin: false
    ReadOnly: false
    Hosts: null
    Hostname: null
    Secrets: null
# TODO figure out why health check call not working
    HealthCheck: null
##      Test: ["CMD", "wget", "-q", "-O-",
##             "--header=\"Content-Type: application/json\"",
##             "--post-data='{\"query\": \"{ __schema { __typename } }\"}'",
##             "http://localhost:5050/admin/graphql"]
##      Interval: 10000000000
##      Timeout: 10000000000
##      Retries: 5
    StopSignal: "SIGINT"
    Privileges: null
    Configs: null
  Resources:
    Limits:
#if( $dmsConfig.clusterRunMode == 'PRODUCTION')
      #2 GiB
      MemoryBytes: 2147483648
#end
      #unlimited.
      NanoCPUs: 0
    Reservations:
#if( $dmsConfig.clusterRunMode == 'PRODUCTION')
      #1.5 GiB
      MemoryBytes: 1610612736
#end
      #unlimited.
      NanoCPUs: 0
  RestartPolicy:
    Condition: "on-failure"
    # 5s
    Delay: 5000000000
    MaxAttempts: 0
    # unbounded
    Window: 0
  Placement: null
  LogDriver:
    Name: "json-file"
    Options: null
  ForceUpdate: 0
  Networks:
#if( $dmsConfig.clusterRunMode == 'LOCAL')
    - Target: host
      Aliases: null
#else
    - Target: $dmsConfig.network
      Aliases: null
#end
  Runtime: null
Mode:
  Replicated:
    Replicas: 1
  Global: null
UpdateConfig:
  FailureAction: "rollback"
  #Since there is a shared volume, containing process information
  # need to ensure its stopped first
  Order: "start-first"
  Parallelism: null
  Delay: null
  MaxFailureRatio: null
  Monitor: null
RollbackConfig:
  FailureAction: "continue"
  #Since there is a shared volume, containing process information
  # need to ensure its stopped first
  Order: "start-first"
  Parallelism: null
  Delay: null
  MaxFailureRatio: 0.8
  Monitor: null
Networks:
#if( $dmsConfig.clusterRunMode == 'LOCAL')
  - Target: host
    Aliases: null
#else
  - Target: $dmsConfig.network
    Aliases: null
#end
EndpointSpec:
  Mode: "vip"
  Ports:
    - Name: "api"
      Protocol: "tcp"
      TargetPort: $dmsConfig.arranger.api.hostPort
      PublishedPort: $dmsConfig.arranger.api.hostPort
#if( $dmsConfig.clusterRunMode == 'LOCAL')
      PublishMode: host
#else
      PublishMode: ingress
#end
Labels: null

