# For more info on the api, refer to:
#  SwaggerEditor: https://editor.swagger.io/
#  OpenAPI: https://docs.docker.com/engine/api/v1.40.yaml
# All durations are in nanotime
Name: gateway
TaskTemplate:
  ContainerSpec:
    Image: "ghcr.io/overture-stack/dms-gateway:test"
    Env:
      - NGINX_PORT=80
      - NGINX_HOST=localhost
      - EGO_HOST=ego-api.dms.local
      - EGO_UI_HOST=ego-ui.dms.local
      - ES_HOST=ego-api.dms.local
      - SONG_HOST=song-api.dms.local
      - SCORE_HOST=score-api.dms.local
      - MAESTRO_HOST=maestro.dms.local
      - ARRANGER_HOST=arranger-server.dms.local
      - ARRANGER_UI_HOST=arranger-ui.dms.local
      - DMS_UI_HOST=dms-ui.dms.local
    Mounts: null
    Duration: null
    StopGracePeriod: 120000000000
    DNSConfig: null
    OpenStdin: false
    ReadOnly: false
    Hosts: null
    Hostname: null
    Secrets: null
    HealthCheck:
    StopSignal: "SIGINT"
    Privileges: null
    Configs: null
  RestartPolicy:
    Condition: "on-failure"
    # 10s
    Delay: 10000000000
    MaxAttempts: 0
    # unbounded
    Window: 0
  Placement: null
  LogDriver:
    Name: "json-file"
    Options: null
  ForceUpdate: 0
  Networks:
    - Target: $dmsConfig.network
      Aliases: null
  Runtime: null
Mode:
  Replicated:
    Replicas: 1
  Global: null
UpdateConfig:
  FailureAction: "rollback"
  #Since there is a shared volume, containing process information
  # need to ensure its stopped first
  Order: "start-first"
  Parallelism: null
  Delay: null
  MaxFailureRatio: null
  Monitor: null
RollbackConfig:
  FailureAction: "continue"
  #Since there is a shared volume, containing process information
  # need to ensure its stopped first
  Order: "start-first"
  Parallelism: null
  Delay: null
  MaxFailureRatio: 0.8
  Monitor: null
Networks:
  - Target: $dmsConfig.network
    Aliases: null
EndpointSpec:
  Mode: "vip"
  Ports:
    - Name: "http"
      Protocol: "tcp"
      TargetPort: 80
      PublishedPort: 80
      PublishMode: "ingress"
Labels: null

